body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#debug {
	color: white;
	position: fixed;
	bottom: 50px;
	left: 50px;
	z-index: 100;
	display:block;
	width: 30%;
	padding: 10px;
}
